@tailwind base;
@tailwind components;

.left-ham {
  @apply before:content-[''] before:absolute before:h-1.5 before:w-9 before:bg-vblack before:translate-y-2.5 before:block before:rounded-lg;
}

.right-ham {
  @apply after:content-[''] after:absolute after:h-1.5 after:w-9 after:bg-vblack after:-translate-y-2.5 after:block after:rounded-lg;
}

.active-ham .bar:nth-of-type(1){
  @apply rotate-45 translate-y-2;
}
.active-ham .bar:nth-of-type(2){
  @apply opacity-0;
}
.active-ham .bar:nth-of-type(3){
  @apply -rotate-45 -translate-y-2;
}




@tailwind utilities;


@layer base {
  
  @font-face {
    font-family: "lora";
    font-weight: 400;
    src: url('/fonts/lora/Lora-Regular.woff2') format('woff2'),
    url('/fonts/lora/Lora-Regular.woff') format('woff');
  }
  @font-face {
    font-family: "lora";
    font-weight: 500;
    src: url('/fonts/lora/Lora-Medium.woff2') format('woff2'),
    url('/fonts/lora/Lora-Medium.woff') format('woff');
  }
  @font-face {
    font-family: "lora";
    font-weight: 600;
    src: url('/fonts/lora/Lora-SemiBold.woff2') format('woff2'),
    url('/fonts/lora/Lora-SemiBold.woff') format('woff');
  }
  @font-face {
    font-family: "lora";
    font-weight: 700;
    src: url('/fonts/lora/Lora-Bold.woff2') format('woff2'),
    url('/fonts/lora/Lora-Bold.woff') format('woff');
  }


  @font-face {
    font-family: "inter";
    font-weight: 200;
    src: url('/fonts/inter/Inter-ExtraLight.woff2') format('woff2'),
    url('/fonts/inter/Inter-ExtraLight.woff') format('woff');
  }
  @font-face {
    font-family: "inter";
    font-weight: 300;
    src: url('/fonts/inter/Inter-Thin.woff2') format('woff2'),
    url('/fonts/inter/Inter-Thin.woff') format('woff');
  }
  @font-face {
    font-family: "inter";
    font-weight: 400;
    src: url('/fonts/inter/Inter-Regular.woff2') format('woff2'),
    url('/fonts/inter/Inter-Regular.woff') format('woff');
  }
  @font-face {
    font-family: "inter";
    font-weight: 500;
    src: url('/fonts/inter/Inter-Medium.woff2') format('woff2'),
    url('/fonts/inter/Inter-Medium.woff') format('woff');
  }
  @font-face {
    font-family: "inter";
    font-weight: 600;
    src: url('/fonts/inter/Inter-SemiBold.woff2') format('woff2'),
    url('/fonts/inter/Inter-SemiBold.woff') format('woff');
  }
  @font-face {
    font-family: "inter";
    font-weight: 700;
    src: url('/fonts/inter/Inter-Bold.woff2') format('woff2'),
    url('/fonts/inter/Inter-Bold.woff') format('woff');
  }
  @font-face {
    font-family: "inter";
    font-weight: 800;
    src: url('/fonts/inter/Inter-Black.woff2') format('woff2'),
    url('/fonts/inter/Inter-Black.woff') format('woff');
  }
} 